 <div class="user-details">
  <h1> About Me </h1>
  <p> Performance Engineer with over 9 years of experience in Banking, Telecom and Petroleum Domain. E2E Project Experience - Designing NFT Test Strategies, Execution and Analysing critical business requirements. <br><br>
      Hands-on working experience on Microservice architecture, Kubernetes, Openshift, Kafka, Couchbase and AWS. Proficient with Profiling and Monitoring Tools like Dynatrace, JVisualVM, JConsole, Grafana and Prometheus. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Performance</h2>
    <!-- <i class="devicon-k6-original colored"></i> -->
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/k6/k6-original.svg" style="height:1em;width:1em;vertical-align:middle;" />
      <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/gatling/gatling-plain-wordmark.svg" style="height:1em;width:1em;vertical-align:middle;" /> -->
      <img src="https://jmeter.apache.org/images/jmeter_square.svg" style="height:1em;width:1em;vertical-align:middle;" />
      <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dynatrace/dynatrace-original.svg" style="height:1em;width:1em;vertical-align:middle;" /> -->
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <!-- <p>JMeter and k6 generate realistic load, while Dynatrace provides deep monitoring and insights—together ensuring end-to-end performance testing and analysis</p> -->
    </div>
    <div class="tech">
      <h2>Code and CI-CD</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" style="height:1em;width:1em;vertical-align:middle;" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/githubactions/githubactions-original-wordmark.svg" style="height:1em;width:1em;vertical-align:middle;" />    
      <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" style="height:1em;width:1em;vertical-align:middle;" /> -->
      <!-- <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" style="height:1em;width:1em;vertical-align:middle;" /> -->
          
      <!-- <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i> -->
      <!-- <p>Python and JavaScript enable powerful automation by combining Python’s scripting and data-handling strength with JavaScript’s web and UI interaction capabilities</p> -->
    </div>
    <div class="tech">
      <h2>Observability</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/grafana/grafana-original.svg" style="height:1em;width:1em;vertical-align:middle;" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/prometheus/prometheus-original.svg" style="height:1em;width:1em;vertical-align:middle;" />    
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dynatrace/dynatrace-original.svg" style="height:1em;width:1em;vertical-align:middle;" />
      <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
      <!-- <p>GitHub Actions and Jenkins automate performance testing pipelines, enabling continuous, scalable, and repeatable test execution with integrated reporting</p> -->
    </div>
</div>
